html{
    scroll-behavior: smooth;
}

.fundo_verde{
    background-color: #156b85b6;
}

.fundo_azul{
    background-color: #1376c7cb;
}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.menu{
    background-color: rgba(23, 175, 168, 0.3)   ;
    padding: 2%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5;
}


.container{

    width: 80%;
    margin: auto;

}
h1{
    text-align: center;
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    text-align: center;
}
h3{ 
    text-align: center;
}
.img_corpo{
    width: 60%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

figure{
    text-align: center;
}

.img_topo{
    width: 100%;  
    font-weight: bold;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.5;
}


p{
    font-size: 1.6em;
    color: #000000cb;
    font-weight: bold;
    text-indent: 60px;
    text-align: justify;
    border-style: double;

}

footer{
    background-color: rgba(32,178,170, 0.3)
}

.center{
    text-align: center;
}

